In [55]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [60]:
energy_dataset = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
energy_dataset.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [61]:
energy_dataset.drop(columns=['date', 'lights'], inplace=True)
energy_dataset.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

**Preprocessing & Predicting**

In [62]:
# First off we normalise the data to common scale using the min max scale
scaler = MinMaxScaler()
normalized_energy_dataset = pd.DataFrame(scaler.fit_transform(energy_dataset),
                                         columns=energy_dataset.columns)
features = normalized_energy_dataset.drop(columns='Appliances')
target = normalized_energy_dataset['Appliances']

# Second we split the dataset into training and testing aka validation
x_train, x_test, y_train, y_test = train_test_split(features, heating_target, test_size=0.3, random_state=42)

**Linear Regression**

In [63]:
# create our model
linear_model = LinearRegression()
# fit the model
linear_model.fit(x_train, y_train)
# obtain predictions
linear_predicted_values = linear_model.predict(x_test)

**Ridge Regression**

In [64]:
# create our model
ridge_reg = Ridge(alpha=0.4)
# fit the model
ridge_reg.fit(x_train, y_train)
# obtain predictions
ridge_predicted_values = ridge_reg.predict(x_test)

**Lasso Regression**

In [65]:
# create our model
lasso_reg = Lasso(alpha=0.001)
# fit the model
lasso_reg.fit(x_train, y_train)
# obtain predictions
lasso_predicted_values = lasso_reg.predict(x_test)

**Feature Weights**

In [51]:
def get_weights_df(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

**Q12 & Q16**

In [66]:
# R^2 or Coefficient of Determination
r2_score = r2_score(y_test, linear_predicted_values)
round(r2_score, 2)

0.15

**Q13**

In [26]:
# MAE
mae = mean_absolute_error(y_test, linear_predicted_values)
round(mae, 2)

0.05

**Q14**

In [28]:
# RSS
rss = np.sum(np.square(y_test - linear_predicted_values))
round(rss, 2)

45.35

**Q15**

In [67]:
# RMSE Linear
rmse = np.sqrt(mean_squared_error(y_test, linear_predicted_values))
round(rmse, 3)

0.088

**Q17**

In [52]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0           rv2        -1.015533e+11
1          RH_2        -4.566132e-01
2         T_out        -3.217958e-01
3            T2        -2.361240e-01
4            T9        -1.899212e-01
5          RH_8        -1.575959e-01
6        RH_out        -7.765047e-02
7          RH_7        -4.462370e-02
8          RH_9        -3.980111e-02
9            T5        -1.565920e-02
10           T1        -3.281051e-03
11  Press_mm_hg         6.838751e-03
12           T7         1.032414e-02
13   Visibility         1.230614e-02
14         RH_5         1.599726e-02
15         RH_4         2.640099e-02
16           T4         2.900027e-02
17    Windspeed         2.918709e-02
18         RH_6         3.805716e-02
19         RH_3         9.598836e-02
20           T8         1.019952e-01
21    Tdewpoint         1.177209e-01
22           T6         2.363848e-01
23           T3         2.905510e-01
24         RH_1         5.535724e-01
25          rv1         1.015533e+11

**Q18**

In [47]:
# RMSE Ridge
rmse = np.sqrt(mean_squared_error(y_test, ridge_predicted_values))
round(rmse, 2)

0.09

**Q19**

In [50]:
lasso_reg_weights = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
lasso_reg_weights

       Features  Lasso_Weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

**Q20**

In [44]:
# RMSE Lasso
rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted_values))
round(rmse, 3)

0.094